// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Oswald:wght@200;300;400&family=Roboto:wght@100;300&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "sans-serif";
$headers-font: "Oswald", "sans-serif";
$title-font : "Monoton", "sans-serif";
