.concerts {
  width: 100px;
  height: 100px;
}

.band_picture {
  width: 400px;
  height: 200px;
}

.title_image {
  background-image: url(cover.jpg), rgba(0, 0, 0, 0.25);
  width: 1440px;
  height: 800px;
  object-fit: cover;
}
// Specific CSS for your home-page
