<div>
  <div class="title">
    <div class="band_picture" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(https://media.baggpipe.com/2017/11/BPS6171.jpg)">
    </div>
    <div class="title_boobzic">
      <h1>BOOBZIC</h1>
    </div>
    <div class="motto">
      <h2>"Boobzic, c’est un peu Eminem et Edith Piaf sur une même scène !”</h2>
    </div>
  </div>
  <div class="band_description">
    <h3>Le groupe</h3>
    <div class="card1"></div>
    <div class="card2"></div>
  </div>
  <div class="concerts">
    <h3>Concerts</h3>
    <p>A venir</p>
    <p>Passés</p>
    <div class="card_concert"></div>
  </div>
  <div class="videos">
    <h3>Vidéos</h3>
  </div>
  <div class="technical">
    <h3>Répertoire et fiche technique</h3>
  </div>
  <div class="medias">
    <h3>Médias</h3>
  </div>
  <div class="contact">
    <h3>Contact</h3>
    <p>Info & Booking : boobzic@gmail.com</p>
  </div>
</div>
