<div class="front-page">
  <div class="title">
    <div class="title-boobzic">
      <h1>BOOBZIC</h1>
    </div>
  </div>

  <div class="motto">
    <h2>"Boobzic, c’est un peu Eminem et Edith Piaf sur une même scène !”</h2>
  </div>

  <div class="band-description">
    <div class="container">
      <div class="subtitle">Le groupe</div>
      <div class="card1">
        <%= image_tag "band1.JPG", alt:"boobzic", class: "band_picture" %>
      </div>
      <div class="card2">
         <%= image_tag "band2.jpg", alt:"boobzic", class: "band_picture" %>
      </div>
      <div class="card1">
         <%= image_tag "band3.jpg", alt:"boobzic", class: "band_picture" %>
      </div>
      <div class="card2">
         <%= image_tag "chamaret2.jpg", alt:"boobzic", class: "band_picture" %>
      </div>
    </div>
  </div>

  <div class="concerts">
    <div class="container custom-container">
      <div class="subtitle">Concerts</div>
      <p>A venir</p>
      <p>Passés</p>
      <div class="card_concert"></div>
    </div>
  </div>

  <div class="videos">
    <div class="container custom-container">
      <div class="subtitle">Vidéos</div>
    </div>
  </div>

  <div class="technical">
    <div class="container custom-container">
      <div class="subtitle">Répertoire et fiche technique</div>
    </div>
  </div>

  <div class="medias">
    <div class="container custom-container">
      <div class="subtitle">Médias</div>
    </div>
  </div>

  <div class="contact">
    <div class="container custom-container">
      <div class="subtitle">Contact</div>
      <p>Info & Booking : boobzic@gmail.com</p>
    </div>
  </div>

</div>
