.navbar-boobzic{
  background: $my-red;
}

.navbar-logo {
  height:56px;
  width: 56px;
  font-size: 32px;
  border-radius: 50%;
  background-color: white;
  text-color: $my-red;
  margin-left:8px;
  font-family: $title-font;
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
}

.nav-item {
  font-family: $headers-font;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  color: white;
  text-decoration: none;
    &:hover {
  text-decoration: underline;
  }
}



